<!doctype html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{reponame}}</title>
<link rel="stylesheet" type="text/css" href="./index.css">

<div class="header margin">
	<h1 id="title" class="title floatl">{{reponame}}</h1>
	<div class="commands floatr">
		<a href="./">Home</a> ‒
		<a href="./login">Log In</a> ‒
		<a href="./new">Compose</a> ‒
		<a href="./up">Upload</a> ‒
		<a href="javascript:" id="sethandler" title="Use this repository to resolve hash links">#</a>
	</div>
	<div class="clear"></div>
</div>
<div class="search margin">
	<form method="GET" action=".">
		<div class="field wrapper"><input type="search" name="q" value="{{q}}"></div>
		<input class="button" type="submit" value="search">
	</form>
</div>

