<!doctype html>
<meta charset="utf-8">
<title>{{reponame}}</title>
<link rel="stylesheet" type="text/css" href="/index.css">

<div class="header margin">
	<h1 class="title floatl">{{reponame}}</h1>
	<div class="commands floatr">
		<a href="/login">Log In</a> ‒
		<a href="/compose">Compose</a> ‒
		<a href="/upload">Upload</a>
	</div>
	<div class="clear"></div>
</div>
<div class="search margin">
	<form method="GET" action=".">
		<div class="field wrapper"><input type="search" name="q" value="{{q}}"></div>
		<input class="button" type="submit" value="search">
	</form>
</div>

