<!doctype html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{reponame}}</title>
<link rel="stylesheet" type="text/css" href="./index.css">

<div class="header margin">
	<div class="commands floatr">
		<a href="./">Home</a> ‒
		<a href="./account">{{account}}</a> ‒
		<a href="./compose">Compose</a> ‒
		<a href="./upload">Upload</a><!-- TODO ‒
		<a href="javascript:" id="hashhandler" title="Use this repository to resolve hash links">#</a>
		<script src="./hashhandler.js" async></script>-->
	</div>
	<h1 id="title" class="title">{{reponame}}</h1>
	<div class="clear"></div>
</div>
<form method="GET" action=".">
<div class="search margin">
	<div class="query">
		<input class="button floatr" type="submit" value="search" tabindex="-1">
		<div class="field wrapper"><input type="search" name="q" value="{{parsed}}"></div>
		<div class="querytime small light floatr">{{querytime}}</div>
		<div class="clear"></div>
	</div>
</div>
</form>
