<div class="message entry margin overflow">
	<article>
		<h2>Not found</h2>
		<p>No file with the requested hash could be found in this repository. The file might be part of a different repository or might not exist.</p>
		<ul>
			<li>If this is a public repository, the file might be private.
			<li>If you know the file exists, check other repositories you have access to.
			<li>If you typed the address by hand, check that it was entered correctly.
		</ul>
		<p>If you have write access to this repository, you can add the file yourself or sync it from somewhere else.</p>
		<p>If the file was deleted or taken down, you can set up a mirror to preserve files in the future.</p>
	</article>
</div>
