build/
perf.data
perf.data.old
deps/uv/uv.xcodeproj
*~
.DS_Store

# Exclude these from GitHub language statistics
# https://help.github.com/articles/my-repository-is-marked-as-the-wrong-language/
# https://github.com/github/linguist#readme
/res/experiments linguist-documentation
res/async_sqlite.c linguist-documentation

/deps/yajl/test/parsing/cases/am_stuff.json.out
/deps/yajl/test/parsing/cases/am_stuff.json.test

