build/
perf.data
perf.data.old
deps/uv/uv.xcodeproj
*~
.DS_Store

# Exclude these from GitHub language statistics
# https://help.github.com/articles/my-repository-is-marked-as-the-wrong-language/
# https://github.com/github/linguist#readme
/res/experiments linguist-documentation
res/async_sqlite.c linguist-documentation

/deps/yajl/test/parsing/cases/am_stuff.json.out
/deps/yajl/test/parsing/cases/am_stuff.json.test

/deps/snappy/*.[oa]
/deps/snappy/*.l[oa]
/deps/snappy/.buildstamp
/deps/snappy/.dirstamp
/deps/snappy/.deps/
/deps/snappy/.libs/
/deps/snappy/aclocal.m4
/deps/snappy/ar-lib
/deps/snappy/autom4te.cache/
/deps/snappy/compile
/deps/snappy/config.guess
/deps/snappy/config.log
/deps/snappy/config.status
/deps/snappy/config.sub
/deps/snappy/configure
/deps/snappy/depcomp
/deps/snappy/install-sh
/deps/snappy/libtool
/deps/snappy/*.dylib
/deps/snappy/*.pc
/deps/snappy/*.so
/deps/snappy/ltmain.sh
/deps/snappy/missing
/deps/snappy/test-driver
/deps/snappy/Makefile
/deps/snappy/Makefile.in

/deps/snappy/INSTALL
/deps/snappy/config.h*
/deps/snappy/m4/libtool.m4
/deps/snappy/m4/ltoptions.m4
/deps/snappy/m4/ltsugar.m4
/deps/snappy/m4/ltversion.m4
/deps/snappy/m4/lt~obsolete.m4
/deps/snappy/snappy-stubs-public.h
/deps/snappy/snappy_unittest
/deps/snappy/stamp-h1

/deps/libressl-portable/**/Makefile
/deps/libressl-portable/**/*.o
/deps/libressl-portable/**/*.lo
/deps/libressl-portable/**/.deps
/deps/libressl-portable/**/.libs
/deps/libressl-portable/**/*.la
/deps/libressl-portable/apps/nc/nc
/deps/libressl-portable/apps/openssl/openssl
/deps/libressl-portable/autom4te.cache/*
/deps/libressl-portable/config.log
/deps/libressl-portable/config.status
/deps/libressl-portable/libtool
/deps/libressl-portable/Makefile.in


/deps/libressl-portable/tap-driver.sh

/deps/libressl-portable/aclocal.m4
/deps/libressl-portable/apps/Makefile.in
/deps/libressl-portable/apps/nc/Makefile.in
/deps/libressl-portable/apps/nc/compat/.dirstamp
/deps/libressl-portable/apps/openssl/Makefile.in
/deps/libressl-portable/apps/openssl/compat/.dirstamp
/deps/libressl-portable/compile
/deps/libressl-portable/config.guess
/deps/libressl-portable/config.sub
/deps/libressl-portable/configure
/deps/libressl-portable/crypto/Makefile.in
/deps/libressl-portable/crypto/aes/.dirstamp
/deps/libressl-portable/crypto/asn1/.dirstamp
/deps/libressl-portable/crypto/bf/.dirstamp
/deps/libressl-portable/crypto/bio/.dirstamp
/deps/libressl-portable/crypto/bn/.dirstamp
/deps/libressl-portable/crypto/buffer/.dirstamp
/deps/libressl-portable/crypto/camellia/.dirstamp
/deps/libressl-portable/crypto/cast/.dirstamp
/deps/libressl-portable/crypto/chacha/.dirstamp
/deps/libressl-portable/crypto/cmac/.dirstamp
/deps/libressl-portable/crypto/comp/.dirstamp
/deps/libressl-portable/crypto/compat/.dirstamp
/deps/libressl-portable/crypto/conf/.dirstamp
/deps/libressl-portable/crypto/des/.dirstamp
/deps/libressl-portable/crypto/dh/.dirstamp
/deps/libressl-portable/crypto/dsa/.dirstamp
/deps/libressl-portable/crypto/dso/.dirstamp
/deps/libressl-portable/crypto/ec/.dirstamp
/deps/libressl-portable/crypto/ecdh/.dirstamp
/deps/libressl-portable/crypto/ecdsa/.dirstamp
/deps/libressl-portable/crypto/engine/.dirstamp
/deps/libressl-portable/crypto/err/.dirstamp
/deps/libressl-portable/crypto/evp/.dirstamp
/deps/libressl-portable/crypto/gost/.dirstamp
/deps/libressl-portable/crypto/hmac/.dirstamp
/deps/libressl-portable/crypto/idea/.dirstamp
/deps/libressl-portable/crypto/krb5/.dirstamp
/deps/libressl-portable/crypto/lhash/.dirstamp
/deps/libressl-portable/crypto/md4/.dirstamp
/deps/libressl-portable/crypto/md5/.dirstamp
/deps/libressl-portable/crypto/modes/.dirstamp
/deps/libressl-portable/crypto/objects/.dirstamp
/deps/libressl-portable/crypto/ocsp/.dirstamp
/deps/libressl-portable/crypto/pem/.dirstamp
/deps/libressl-portable/crypto/pkcs12/.dirstamp
/deps/libressl-portable/crypto/pkcs7/.dirstamp
/deps/libressl-portable/crypto/poly1305/.dirstamp
/deps/libressl-portable/crypto/rand/.dirstamp
/deps/libressl-portable/crypto/rc2/.dirstamp
/deps/libressl-portable/crypto/rc4/.dirstamp
/deps/libressl-portable/crypto/ripemd/.dirstamp
/deps/libressl-portable/crypto/rsa/.dirstamp
/deps/libressl-portable/crypto/sha/.dirstamp
/deps/libressl-portable/crypto/stack/.dirstamp
/deps/libressl-portable/crypto/ts/.dirstamp
/deps/libressl-portable/crypto/txt_db/.dirstamp
/deps/libressl-portable/crypto/ui/.dirstamp
/deps/libressl-portable/crypto/whrlpool/.dirstamp
/deps/libressl-portable/crypto/x509/.dirstamp
/deps/libressl-portable/crypto/x509v3/.dirstamp
/deps/libressl-portable/depcomp
/deps/libressl-portable/include/Makefile.in
/deps/libressl-portable/include/openssl/Makefile.in
/deps/libressl-portable/install-sh
/deps/libressl-portable/libcrypto.pc
/deps/libressl-portable/libssl.pc
/deps/libressl-portable/libtls.pc
/deps/libressl-portable/ltmain.sh
/deps/libressl-portable/m4/libtool.m4
/deps/libressl-portable/m4/ltoptions.m4
/deps/libressl-portable/m4/ltsugar.m4
/deps/libressl-portable/m4/ltversion.m4
/deps/libressl-portable/m4/lt~obsolete.m4
/deps/libressl-portable/man/Makefile.in
/deps/libressl-portable/missing
/deps/libressl-portable/openssl.pc
/deps/libressl-portable/ssl/Makefile.in
/deps/libressl-portable/test-driver
/deps/libressl-portable/tests/Makefile.in
/deps/libressl-portable/tls/Makefile.in
